HUD
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;

}

.HUD-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    margin: 2rem;
}

.left-container {
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 60%;
    align-items: flex-start;
}

.right-container {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 40%;
    align-items: flex-end;
    margin-top: 2rem;
}

.player-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    pointer-events: all;
    background-color: rgb(245, 124, 54, 0.67);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: .5rem;
}

.player-name {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    font-family: poppins;
}

.player-avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 2%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.power-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.power-up-icon {
    width: 8em;
    height: 8rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.power-up-value {
    color: white;
    font-size: 4rem;
    font-weight: 600;
    font-family: poppins;
}