StartGame {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 50px;
	background: linear-gradient(180deg, #e77517a2 0%, #000000d3 100%);
	font-weight: bold;
	font-family: poppins;
	cursor: default;
	pointer-events: all;

	.background {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
	.upper-container {
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		width: 30%;
		align-items: flex-start;
	}

	.game-info {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: flex-start;
	}

	.game-title {
		font-size: 4rem;
		color: rgb(247, 90, 0);
		line-height: 80px;
	}
	.game-description {
		color: white;
		font-size: 1.5rem;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.players {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		gap: 20px;
	}

	.player-circle {
		position: relative;
		width: 8rem;
		height: 8rem;
		border-radius: 50%;
		border: 0.5rem solid white;
	}

	.start-button {
		position: relative;
		height: 200px;
		align-items: center;
		background-color: white;
		padding: 20px 20px;
		border: none;
		border-radius: 20px;
		pointer-events: all;
		cursor: pointer;
		transition: background-color 0.3s;
	}

	.start-button:hover {
		background-color: #28cce2;
	}

	.start-button h1 {
		opacity: 1;
		font-size: 3rem;
		transition: color 0.3s ease-in-out;
	}
	.start-button:hover h1 {
		color: white;
	}
}
