StartGame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem 2rem;
    background: linear-gradient(350deg, #6f5c5cb0 0%, #3a507dcf 50%, #e77517d5 100%);
    font-weight: bold;
    font-family: poppins;
    cursor: default;
    pointer-events: all;

    .background {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .upper-container {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 60%;
        align-items: flex-start;
    }

    .lower-container {
        height: 100%;
    }

    .game-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
    }

    .game-title {
        font-size: 10rem;
        color: rgb(247, 90, 0);
        line-height: 100px;
        text-shadow: 5px 2px 1px #4f4e4e;
    }

    .players {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .player-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        background-color: rgb(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 2px 10px;
        width: 40rem;
    }

    .player-container-left {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 5px 0px;
    }

    .player-kick-btn {
        background-color: white;
        width: 5rem;
        font-weight: bold;
        font-size: 1.75rem;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        pointer-events: all;
        cursor: pointer;
        color: black;
        transition: background-color 0.3s;
    }

        .player-kick-btn:hover {
            background-color: rgb(243, 105, 26);
            color: white;
        }

    .player-container .player-name {
        color: white;
        font-size: 3rem;
        text-shadow: 2px 2px 2px #000000;
    }

    .player-avatar {
        position: relative;
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
        border: 0.5rem solid white;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 8rem;
        color: white;
        background-color: rgb(101, 101, 101, 0.58);
    }

    .start-button, .leave-btn {
        position: relative;
        height: 150px;
        align-items: center;
        background-color: white;
        padding: 10px 120px;
        border: none;
        border-radius: 20px;
        pointer-events: all;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .start-button:hover {
            background-color: rgb(243, 105, 26);
        }

        .start-button h1 {
            opacity: 1;
            font-size: 3.5rem;
            text-transform: uppercase;
            transition: color 0.3s ease-in-out;
        }

        .start-button:hover h1 {
            color: white;
        }

    .waiting-label {
        font-size: 4rem;
        color: white;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 2px solid white;
    }

    .lobby-interactions {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .leave-btn {
        font-size: 3rem;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

        .leave-btn:hover {
            background-color: rgb(220, 53, 69);
            color: white;
        }

    .host-icon {
        position: absolute;
        z-index: 99;
        transform: rotate(35deg);
        width: 5rem;
        right: 0px;
        top: -.5rem;
    }

    .game-settings {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        background-color: #f29040d5;
        color: white;
        padding: 1rem 2rem;
        border-radius: 10px;
        box-shadow: 2px 2px 1px #6f5c5cb0;
        font-size: 2rem;
    }

    .game-mode-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 30rem;
        align-items: flex-start;
    }

    .game-mode-selector {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #bd6a27d9;
        border-radius: 25px;
    }

    .game-mode-label {
        font-size: 2.25rem;
        min-width: 300px;
        text-align: center;
        justify-content: center;
    }

    .arrow {
        background-color: #333;
        color: white;
        font-weight: bold;
        border-radius: 20px;
        padding: 0.25rem 1.25rem;
        cursor: pointer;
        transition: background-color 0.1s;
    }

        .arrow:hover {
            background-color: rgb(200, 49, 63);
        }
}
